<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="jumbotron">
        <h1 class="display-3">Welcome!</h1>
    </div>
    <div class="container">
        <h2>Current Vehicles</h2>
        <table class="table table-hover">
            <thead>
                <th scope="col"> Year </th>
                <th scope="col"> Make </th>
                <th scope="col"> Model </th>
                <th scope="col"> Color</th>
            </thead>
            <% results.forEach(function(result){ %>
            <tbody>
                <tr class="table-active">
                    <td><%= result.year %></th>
                    <td><%= result.make.toUpperCase() %></td>
                    <td><%= result.model.toUpperCase() %></td>
                    <td><%= result.color.toUpperCase() %></td>
                </tr>
            </tbody>
            <% }) %>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>